include ../parts/_general-info.pug
include ../parts/_sns.pug
include ../parts/_pj-list.pug

- var workTitle = plist.AudioRacing.pjTitle;
- var fileName= "AudioRacing"
- var jpAuthor = "高 友康";
- var enAuthor = "Tomoyasu Taka"
- var jpDescription = "視覚情報を用いずに音声のみでプレイするオーディオゲームでは、音声のみで空間的な情報提示が困難であるといった課題があり、既存のレーシングゲームにおいては、プレイヤの回転が制限された簡易的なゲームシステムを用いたものが主流となっている。それに対し本研究では、プレイヤがより自由に空間的な移動・回転が可能なレーシング型オーディオゲームの制作し、プレイヤが自由に移動可能な状態でゲームを成立させるために、新たな誘導システムの設計・実装を行った。"
- var enDescription = "Audio games, which are played using only sound without visual information, have issues of difficulty in presenting spatial information. Existing racing games are mostly based on a simple game system that restricts the player's rotation. We create a racing-type audio game that allows the player to move and rotate more freely in space by designing and implementing a a new guidance system which suppliment spatial information and makes the game work. "

doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content=jpDescription)
    meta(name="keywords", content="筧康明, xlab, 成果発表会, 2022")
    meta(name="author", content="東京大学 大学院情報学環 筧康明研究室")
    meta(property="og:title", content=workTitle+" - 東京大学 大学院情報学環 筧康明研究室 成果発表会")
    meta(property="og:type", content="website")
    meta(property="og:url", content="https://xlab.iii.u-tokyo.ac.jp/showcase2022/"+fileName+".html")
    meta(property="og:image", content="https://xlab.iii.u-tokyo.ac.jp/showcase2022/img/ogp/"+fileName+".jpg")
    meta(property="og:site_name", content="xlab Showcase 2022")
    meta(property="og:description", content=jpDescription)
    meta(name="copyright", content="東京大学 大学院情報学環 筧康明研究室")
    meta(name="twitter:card", content="summary_large_image")
    title #{workTitle} - 東京大学 大学院情報学環 筧康明研究室 #{eventTitle}
    link(rel='stylesheet', href="../style.css")
    link(rel='apple-touch-icon', type='image/png', href='***')
    link(rel='icon', type='image/png', href='***')
    script(src="dist/js/webfont.js")
  body#body
    section#showcase-container
      header#showcase-header
          h1#sc-back-title
            a.meta-link(href="../index.html#showcase") #{eventTitle}
      section#showcase-contents
        div.block-workstitle.setting-responsive
          h2.project-maintitle #{workTitle}
          //h3.project-entitle.en-text Dummy text Daibakuso! Audio Racing 2
        div.block-main
          div.block-img
            img(src="../../public/dist/pj-thumbnails/AudioRacing.jpg")
        div.block-text.setting-responsive
          p.project-author.jp-text
            span.block #{jpAuthor}
          p.project-author.en-text 
            span.block #{enAuthor}
          hr.hr-showcase
          p.jp-description #{jpDescription}
          p.en-description #{enDescription}
        div.block-text.setting-responsive
          hr.hr-showcase
          h3.play Play
          ul.play
            a(href="https://testflight.apple.com/join/Ldofmj0S" target="_blank")
              li Download for iOS (TestFlight)
        div.block-text.setting-responsive
          hr.hr-showcase
          h3 Credit
          ul
            li Game Design & Research: Tomoyasu Taka
            li Voice: Hiroki Kaimoto
            li Music: Nana Masuda
            li Research: Yasuaki Kakehi
            li Special Thanks: Yukio Nozawa, Audio Game Center Project
        //  
          hr.hr-showcase
        //
          h3 Publication
          ul
            li Yasuaki Kakehi, Daisuke Akatsuka, Juri Fujii, Yoshimori Yoshikawa, Wataru Date, Joung Min Han: “Air on Air”, Tokyo Garden, Ars Electronica Festival 2020, (2020.9)
            li 筧康明，赤塚大典，藤井樹里，吉川義盛，伊達亘，ハンチョンミン: “Air on Air”, ZOU-NO-HANA FUTURESCAPE PROJECT 2020, (2020.9)
        //
          div.block-figure.setting-responsive
            figure
              img(src="dist/sc-figure/air_on_air/air_main.png")
              figcaption キャプションダミーテキスト。がめちゃくちゃ長い場合。キャプションダミーテキスト。がめちゃくちゃ長い場合。キャプションダミーテキスト。がめちゃくちゃ長い場合。
        include ../parts/_controller.pug
      include ../parts/_footer.pug
