include ../parts/_general-info.pug
include ../parts/_sns.pug
include ../parts/_pj-list.pug

- var workTitle = plist.Re_fix.pjTitle;
- var fileName= "Re(fix)"
- var jpAuthor = "久保木 仁美";
- var enAuthor = "Hitomi Kuboki"
- var jpDescription = "外部からの刺激に応じて形状が変化する4Dプリンティングは、ものづくりの手段として注目されている。しかし、既存の多くの手法は、変形が一度しか起こらない、あるいは、外部刺激を与え続けないと形状を維持できないといった制約がある。本提案では外部刺激により繰り返し変形が可能で、変形後も十分な固さを持つ物体を設計するための新しい方法の提案である。具体的には、常温時には硬い物体を40℃程度まで加熱すると変形が起こり、熱を取り除くと、変形時の形が保たれる。このオブジェクトのレシピと、周囲の環境によって変形するものの応用について示す。"
- var enDescription = "4D printing, which changes its shape in response to external stimuli, has been attracting attention as a means of manufacturing. However, many existing methods have limitations such as deformation can only occur once, or the shape cannot be maintained unless external stimuli are continuously applied. In this proposal, we propose a new method for designing objects that can be repeatedly deformed by external stimuli and still have sufficient solidity after deformation. Specifically, heating an object, which is hard at room temperature, to about 40 degrees Celsius causes deformation, and when the heat is removed, the object retains its shape at the time of deformation. The recipe for this object and its application to objects that deform depending on the surrounding environment will be presented."

doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content=jpDescription)
    meta(name="keywords", content="筧康明, xlab, 成果発表会, 2022")
    meta(name="author", content="東京大学 大学院情報学環 筧康明研究室")
    meta(property="og:title", content=workTitle+" - 東京大学 大学院情報学環 筧康明研究室 成果発表会")
    meta(property="og:type", content="website")
    meta(property="og:url", content="https://xlab.iii.u-tokyo.ac.jp/showcase2022/"+fileName+".html")
    meta(property="og:image", content="https://xlab.iii.u-tokyo.ac.jp/showcase2022/img/ogp/"+fileName+".jpg")
    meta(property="og:site_name", content="xlab Showcase 2022")
    meta(property="og:description", content=jpDescription)
    meta(name="copyright", content="東京大学 大学院情報学環 筧康明研究室")
    meta(name="twitter:card", content="summary_large_image")
    title #{workTitle} - 東京大学 大学院情報学環 筧康明研究室 #{eventTitle}
    link(rel='stylesheet', href="../style.css")
    link(rel='apple-touch-icon', type='image/png', href='***')
    link(rel='icon', type='image/png', href='***')
    script(src="dist/js/webfont.js")
  body#body
    section#showcase-container
      header#showcase-header
          h1#sc-back-title
            a.meta-link(href="../index.html#showcase") #{eventTitle}
      section#showcase-contents
        div.block-workstitle.setting-responsive
          h2.project-maintitle #{workTitle}
          //h3.project-entitle.en-text Dummy text Daibakuso! Audio Racing 2
        div.block-main
          div.block-movie
            iframe(width="560" height="315" src="https://www.youtube.com/embed/dlCs5Wt-QZA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;" allowfullscreen)
        div.block-text.setting-responsive
          p.project-author.jp-text
            span.block #{jpAuthor}
            span.block ＋
            span.block 筧 康明
          p.project-author.en-text 
            span.block #{enAuthor} +
            span.block Yasuaki Kakehi
          hr.hr-showcase
          p.jp-description #{jpDescription}
          p.en-description #{enDescription}
        div.block-text.setting-responsive
          // hr.hr-showcase
          //
            h3 Credit
            ul
              li Game Design & Research: Tomoyasu Taka
              li Voice: Hiroki Kaimoto
              li Music: Nana Masuda
              li Research: Yasuaki Kakehi
              li Special Thanks: Yukio Nozawa, Audio Game Center Project
            hr.hr-showcase
        //
          h3 Publication
          ul
            li Takafumi Morita, Yu Kuwajima, Ayato Minaminosono, Shingo Maeda, and Yasuaki Kakehi. 2022. HydroMod : Constructive Modules for Prototyping Hydraulic Physical Interfaces. In CHI Conference on Human Factors in Com- puting Systems (CHI ’22), April 29-May 5, 2022, New Orleans, LA, USA. ACM, New York, NY, USA, 14 pages. (to appeer)
        //
          div.block-figure.setting-responsive
            figure
              img(src="dist/sc-figure/air_on_air/air_main.png")
              figcaption キャプションダミーテキスト。がめちゃくちゃ長い場合。キャプションダミーテキスト。がめちゃくちゃ長い場合。キャプションダミーテキスト。がめちゃくちゃ長い場合。
        include ../parts/_controller.pug
      include ../parts/_footer.pug
