include ../parts/_general-info.pug
include ../parts/_sns.pug
include ../parts/_pj-list.pug

- var workTitle = plist.seesaw.pjTitle;
- var fileName= "see-saw"
- var jpAuthor = "森田 崇文";
- var enAuthor = "Takafumi Morita"
- var jpDescription = "see-sawは、液体の流れを用いてシーソーを表現したキネティックインスタレーション作品である。シーソーの内部で液体を移動させ、重心位置を変化させることで、シーソーの傾きが動的に変化する。液体の制御には、誘電性液体中に配置した電極に高電圧を印加すると流動が発生するEHD(Electrohydrodynamics) という現象を応用したモジュールを用いている。これにより、アクチュエータ等の駆動音が全くない静寂な動きを生み出している。シーソーの語源の１つに、先の景色が見える(see)、見えた(saw)を繰り返すため、seesawという名称になったという説がある。目には見えない駆動力によって重力に逆らい、音もなく動き続ける液体と、それを可視化するシーソーの様子から、私たちを取り巻くものたちの「関係」（Interverse of Things）を表現する。"
- var enDescription = "see-saw is a kinetic installation that uses liquid flow. By moving the liquid inside the seesaw and changing the position of the center of gravity, the inclination of the seesaw changes dynamically. The liquid is controlled by a module based on the electrohydrodynamics (EHD) phenomenon, in which liquid flow occurs when a high voltage is applied to electrodes placed in a dielectric liquid. This creates a silent motion without any driving noise from actuators. One of the etymologies of the word \"seesaw\" is that it is a repetition of \"see\" and \"saw\", hence the name \"seesaw\". A seesaw visualizes a liquid that continues to move without sound, defying gravity by an invisible driving force. It expresses the \"relationship\" (Interverse of Things) between the things that surround us."

doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content=jpDescription)
    meta(name="keywords", content="筧康明, xlab, 成果発表会, 2022")
    meta(name="author", content="東京大学 大学院情報学環 筧康明研究室")
    meta(property="og:title", content=workTitle+" - 東京大学 大学院情報学環 筧康明研究室 成果発表会")
    meta(property="og:type", content="website")
    meta(property="og:url", content="https://xlab.iii.u-tokyo.ac.jp/showcase2022/"+fileName+".html")
    meta(property="og:image", content="https://xlab.iii.u-tokyo.ac.jp/showcase2022/img/ogp/"+fileName+".jpg")
    meta(property="og:site_name", content="xlab Showcase 2022")
    meta(property="og:description", content=jpDescription)
    meta(name="copyright", content="東京大学 大学院情報学環 筧康明研究室")
    meta(name="twitter:card", content="summary_large_image")
    title #{workTitle} - 東京大学 大学院情報学環 筧康明研究室 #{eventTitle}
    link(rel='stylesheet', href="../style.css")
    link(rel='apple-touch-icon', type='image/png', href='***')
    link(rel='icon', type='image/png', href='***')
    script(src="dist/js/webfont.js")
  body#body
    section#showcase-container
      header#showcase-header
          h1#sc-back-title
            a.meta-link(href="../index.html#showcase") #{eventTitle}
      section#showcase-contents
        div.block-workstitle.setting-responsive
          h2.project-maintitle #{workTitle}
          //h3.project-entitle.en-text Dummy text Daibakuso! Audio Racing 2
        div.block-main
          div.block-movie
            iframe(width="560" height="315" src="https://www.youtube.com/embed/0vFd5ae3e_g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;" allowfullscreen)
        div.block-text.setting-responsive
          p.project-author.jp-text
            span.block #{jpAuthor}
            span.block ＋
            span.block 筧 康明
          p.project-author.en-text 
            span.block #{enAuthor} +
            span.block Yasuaki Kakehi
          hr.hr-showcase
          p.jp-description #{jpDescription}
          p.en-description #{enDescription}
        div.block-sub
          div.block-imagewrap
            img(src="../dist/img/see-saw/see-saw_1.png")
            img(src="../dist/img/see-saw/see-saw_2.png")
            img(src="../dist/img/see-saw/see-saw_3.png")
            img(src="../dist/img/see-saw/see-saw_4.png")
            img(src="../dist/img/see-saw/see-saw_5.png")
        div.block-text.setting-responsive
          hr.hr-showcase
          //
            h3 Credit
            ul
              li Game Design & Research: Tomoyasu Taka
              li Voice: Hiroki Kaimoto
              li Music: Nana Masuda
              li Research: Yasuaki Kakehi
              li Special Thanks: Yukio Nozawa, Audio Game Center Project
            hr.hr-showcase
          h3 Publication
          ul
            li Takafumi Morita, Yu Kuwajima, Ayato Minaminosono, Shingo Maeda, and Ya- suaki Kakehi. 2022. HydroMod : Constructive Modules for Prototyping Hydraulic Physical Interfaces. In CHI Conference on Human Factors in Computing Systems (CHI ’22), April 29-May 5, 2022, New Orleans, LA, USA. ACM, New York, NY, USA, 14 pages. (to apper)
        //
          div.block-figure.setting-responsive
            figure
              img(src="dist/sc-figure/air_on_air/air_main.png")
              figcaption キャプションダミーテキスト。がめちゃくちゃ長い場合。キャプションダミーテキスト。がめちゃくちゃ長い場合。キャプションダミーテキスト。がめちゃくちゃ長い場合。
        include ../parts/_controller.pug
      include ../parts/_footer.pug
